/* html,
body {
  height: fit-content;
} */

* {
  margin: 0 auto;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  text-decoration: none;
}

body {
  color: rgb(133, 133, 133);
  background: rgb(38, 41, 41);
  /* font-family: "Open Sans", sans-serif, Verdana, Geneva, Tahoma; */


}

nav a {
  color: rgb(194, 186, 157);
  size: 4rem;
}

nav a:hover {
  color: rgb(253, 243, 204);
}

footer {
  /* margin-top: 90%; */
  font-weight: lighter;
  color: rgb(194, 186, 157);
  /* background: rgb(64, 70, 70); */
  width: 600px;
}

img {
  width: 500;
  height: 300;
}

h1,
h2 {
  /* text-align: center; */
  color: rgb(216, 230, 241);
}
h3 {
  color: rgb(206, 197, 197);
}

p {
  width: 600px;
  /* text-align: left; */
}
/* h1 {
}

p {
} */

.github:link,
.github:visited {
  /* color: rgb(9, 120, 139); */
  color: rgb(163, 160, 160);
}

.github:hover {
  /* color: rgb(32, 200, 230); */
  /* font-size: 1.1rem; */
  color: rgb(228, 217, 217);
}

.linkedin:link,
.linkedin:visited {
  /* color: rgb(9, 120, 139); */
  color: rgb(163, 160, 160);
}
.linkedin:hover {
  /* color: rgb(32, 200, 230); */
  color: rgb(228, 217, 217);
}

a :hover {
  color: darkcyan;
}

/* 
.mailto:link {
  color: green;
}

.mailto :hover {
  color: wheat;
} */

iframe {
  border-radius: 5%;
}

img {
  /* border-style: ridge; */
  border-radius: 5%;
  float: inline-start;
  width: 400px;
  height: auto;
  object-fit: contain;
  padding: 5px;
  margin-bottom: 10px;
}

.map {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

#robin-picture {
  width: 300px;
  height: auto;
  border-radius: 200px;
  /* float: inherit; */
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: rgb(46, 46, 24);

  border-style: double;
  object-fit: contain;
}

/* 

.sidefoot{
  color: cornsilk;

} */

.header-links {
  text-align: left;
  padding: 20px;
  
}

.map {
  margin: 25px;
}

#footer-mail {
  color: aqua;
  bac
}

#project-list {
  margin-top: 20px;
  /* text-align: left; */
}

#connect-links {
  margin-top: 10px;
}
