* {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

body {
  color: rgb(133, 133, 133);
  background: rgb(38, 41, 41);
  /* font-family: "Open Sans", sans-serif; */
}

nav a {
  color: rgb(194, 186, 157);
  size: 4rem;
}

nav a:hover {
  color: rgb(253, 243, 204);
}

footer {
  font-weight: lighter;
  color: rgb(194, 186, 157);
  width: 600px;
}

img {
  width: 500;
  height: 300;
}

h1,
h2 {
  color: rgb(192, 191, 191);
}
h3 {
  color: rgb(206, 197, 197);
}

p {
  width: 600px;
}

.contact {
  color: rgb(133, 133, 133);
}

.github:link,
.github:visited {
  color: rgb(163, 160, 160);
}

.github:hover {
  color: rgb(228, 217, 217);
}

.linkedin:link,
.linkedin:visited {
  color: rgb(163, 160, 160);
}
.linkedin:hover {
  color: rgb(228, 217, 217);
}

a :hover {
  color: darkcyan;
}

iframe {
  border-radius: 5%;
}

img {
  /* border-style: ridge; */
  border-radius: 5%;
  float: inline-start;
  width: 400px;
  height: auto;
  object-fit: contain;
  padding: 5px;
  margin-bottom: 10px;
}

.map {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

#robin-picture {
  width: 300px;
  height: auto;
  border-radius: 200px;
  /* float: inherit; */
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: rgb(46, 46, 24);

  border-style: double;
  object-fit: contain;
}

.header-links {
  text-align: left;
  padding: 20px;
}

.map {
  margin: 25px;
}

#project-list {
  margin-top: 20px;
  /* text-align: left; */
}

#connect-links {
  margin-top: 10px;
}

.mailto:hover {
  color: rgb(253, 243, 204);
}

a {
  color: rgb(194, 186, 157);
}

.container {
  width: 80%;
}
header {
  /* background-color: #55d6aa; */
  background-color: rgb(26, 26, 15);
  margin-bottom: 20px;
}
header::after {
  content: "";
  display: table;
  clear: both;
}
.nav-header {
  float: center;
}
.nav-header ul {
  /* margin: 0;
  padding: 0; */
  list-style: none;
}
.nav-header li {
  display: inline-block;
  margin: 0 30px;
  /* margin: center; */
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
}
